In [2]:
import pandas as pd

# URL of the CSV file
#url = 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv'

# Read the CSV file directly from the URL
df = pd.read_csv('laptops.csv')

# Display the first few rows of the DataFrame
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [3]:
pd.__version__

'2.2.2'

In [4]:
records_count = df.shape[0]
print(f'Total number of records: {records_count}')

Total number of records: 2160

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laptop        2160 non-null   object
 1   Status        2160 non-null   object
 2   Brand         2160 non-null   object
 3   Model         2160 non-null   object
 4   CPU           2160 non-null   object
 5   RAM           2160 non-null   int64
 6   Storage       2160 non-null   int64
 7   Storage type  2118 non-null   object
 8   GPU           789 non-null    object
 9   Screen        2156 non-null   float64
 10  Touch         2160 non-null   object
 11  Final Price   2160 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 202.6+ KB

In [6]:
unique_brands = df['Brand'].nunique()
print(f'Number of unique laptop brands: {unique_brands}')

Number of unique laptop brands: 27

In [7]:
missing_value_columns = df.isnull().sum()
missing_columns_count = (missing_value_columns > 0).sum()
print(f'Number of columns with missing values: {missing_columns_count}')

Number of columns with missing values: 3

In [8]:
max_dell_price = df[df['Brand'] == 'Dell']['Final Price'].max()
print(f'Maximum price for Dell notebooks: {max_dell_price}')

Maximum price for Dell notebooks: 3936.0

In [9]:
screen_median = df['Screen'].median()
print(f'Original median of Screen: {screen_median}')

Original median of Screen: 15.6

In [10]:
screen_mode = df['Screen'].mode()[0]
print(f'Most frequent value in Screen: {screen_mode}')

Most frequent value in Screen: 15.6

In [11]:
df['Screen'] = df['Screen'].fillna(screen_mode)

In [12]:
new_screen_median = df['Screen'].median()
print(f'New median of Screen after filling missing values: {new_screen_median}')

New median of Screen after filling missing values: 15.6

In [13]:
if screen_median == new_screen_median:
    print('Has the median changed? No')
else:
    print('Has the median changed? Yes')

Has the median changed? No

In [14]:
X = df[df['Brand'] == 'Innjoo'][['RAM', 'Storage', 'Screen']].to_numpy()

In [15]:
XTX = X.T.dot(X)

In [18]:
import numpy as np

In [19]:
XTX_inv = np.linalg.inv(XTX)

In [20]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])

In [21]:
w = XTX_inv.dot(X.T).dot(y)

In [22]:
w_sum = w.sum()
print(f'Sum of all elements in w: {w_sum}')

Sum of all elements in w: 91.29988062995815